{% extends 'base.html' %}
{% block title %}{{category.title}} Search results for "{{keywords}}" {% endblock %}
{% block content %}

	<div class="col-lg-9 col-xs-12">
		<h2>Search results for "{{keywords}}"</h2>
		<hr />
    	{% if sposts %}
    		{% for post in sposts %}
	    	<div class="card">
			  	<div class="card-body">
				    <h5 class="card-title"><a href="{% url 'index' post.slug %}">{{post.title}}</a></h5>
				    <small>Author: {{ post.author }}  / Posted on: {{ post.created_at | date:"d F, Y" }}</small>
				    <p class="card-text">{{post.description | safe | slice:":150"}}</p>
				    <a href="{% url 'index' post.slug %}" class="btn btn-primary btn-sm">Read More</a>
			  	</div>
			</div>
			{% endfor %}
    	{% else %}
    		No Posts
    	{% endif %}
    </div>
    
    <div class="col-lg-3 col-xs-12">
        {% include 'partials/sidebar.html' %}
    </div>

{% endblock %}