<div class="col-lg-3 col-sm-9" id="sidebar">
			<ul class="list-group">
		<li class="list-group-item active"><b>Account</b></li>
		<li class="list-group-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
		<li class="list-group-item"><a href="{% url 'add-post' %}">Add Post</a></li>
		<li class="list-group-item"><a href="{% url 'password' %}">Change Password</a></li>
		<li class="list-group-item"><a href="javascript:{document.getElementById('logout').submit()}">Logout</a>
		</li>
	</ul> 
</div>
